<h2>Boats</h2>
{{#each boats}}
<div>
    <p>ID: {{this.id}}</p>
    <p>name: {{this.name}}</p>
    <p>owner: {{this.owner}}</p>
    <p>type: {{this.type}}</p>
    <p>length: {{this.length}}</p>
    {{#if this.loads}}
    <p>loads:</p>
    <ul>
        {{#each this.loads}}
        <li>ID: {{this.id}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>loads: no loads</p>
    {{/if}}
</div>
{{/each}}